{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
	<ul>
	{% for blog in object_list %}
		<div class="card" style="width: 19rem;"height":15rem>
			<img class="img-thumbnail"  src="{{ blog.what_img.url }}">
			<div class="card-body">
				<h5 class="card-title">{{blog.title}}</h5>
				<p class="card-text">{{blog.description}}</p>
				<a href="{% url 'index:blogdetail' blog.pk %}" class="btn btn-primary">Read more</a>
			</div>
		</div>
	{% endfor%}
	</ul>
</div>
{% endblock content %}