{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="blog_layout">
	<div class="container">
		<hr>
		<div class="container">
			<h1 class='page-header'>{{blog.title}} </h1>
			<h5>author:{{blog.author}}</h5>
		</div>
		<div class="container">
			<img class="what_img"  src="{{ blog.what_img.url }}">
		</div>
		<hr>	

		<div class="container">
			<h5>{{blog.what}} </h1>
		</div>

		<div class="container">
			<img class="how_img" src="{{ blog.how_img.url }}">
		</div>
		<div class="container">
			<h5>{{blog.how}} </h1>
		</div>

		<div class="container">
			<img class="why_img" src="{{ blog.why_img.url }}">
		</div>
		<div class="container">
			<h5>{{blog.why}} </h1>
		</div>
	</div>    
</div>
{% endblock content %}