<form action="" method="POST">

    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" 
     aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="InputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="InputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="passwword">
    </div>
    <div class="mb-3 form-check">
    </div>
    <input type="submit" value="Submit" class="btn btn-secondary">
  </form>
